header{
    background-color: #333;
}

h1{
    color: #efefef;
    padding: 5px;
}

input{
    height: 38px;
}

.hide{
    display: none;
}

.search-section{
    background-color: #efefef;
}

.form{
    padding: 20px;
}

.form-title{
    font-weight: bold;
}

.city-history{
    padding: 20px;
}

.test{
    background: none;
    border: none;
    padding: 0;
    text-align: left;
}