header{
    background-color: #333;
}

h1{
    color: #efefef;
    padding: 5px;
}

input{
    height: 38px;
}

.hide{
    display: none;
}

.search-section{
    background-color: #efefef;
}

.form{
    padding: 20px;
}

.form-title{
    font-weight: bold;
}

.city-history{
    padding: 20px;
}

.old-city{
    background: none;
    border: none;
    padding: 0;
    text-align: left;
}

.current-weather{
    padding: 20px;
}

/* classes for uv index */
.uv{
    padding: 0 5px;
    border-radius: 3px;
}

.low{
    background-color: green;
    color: white;
}

.moderate{
    background-color: yellow;
}
.high{
    background-color: orange;
}
.very-high{
    background-color: red;
    color: white;
}
.extreme{
    background-color: purple;
    color: white;
}

.forecast{
    background-color: #0275d8;
    color: white;
}